section {
    width: 100%;
    height: fit-content;
    padding: 5vh 0;
}

#about h1 {
    font-size: 1.8rem;
}

.about-us {
    margin-top: 10vh;
}

.img-wrapper {
    position: relative;
    transition: 1s;
}

.gallery img, .img-wrapper .shader {
    height: 400px;
    object-fit: cover;
    object-position: top;
    border-radius: 1.5rem;
    margin: 1rem 0;
}

.img-wrapper .shader {
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    opacity: 0;
    transition: 1s;
}

.img-wrapper .subtitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
    font-size: 1.3rem;
    color: transparent;
}

.img-wrapper:hover .shader {
    opacity: 60%;
}

.img-wrapper:hover .subtitle {
    color: white;
}
