* {
    box-sizing: border-box;
  } */

.blog-container::after {
    content: "";
    clear: both;
    display: block;
} 

[class*="col-"] {
    float: left;
    padding: 35px;
  }

#blog h1 {
    font-size: 1.8rem;
}

.blog {
    margin-top: 10vh;
}

.img-wrapper {
    position: relative;
    transition: 1s;;
}

.img-wrapper .blog-img  {
    width: 10000;
    height: auto;
    object-fit: cover
}

.blog-img {
    transition: box-shadow 0.2s;
}

.blog-img:hover {
    box-shadow: 0 30px 30px rgba(255, 255, 255, 0.5);
}

.blog-title h2 {
    padding-top: 30px;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    text-shadow: 2px 2px 2px gray;
    
}

.blog-title p {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 12px;
    font-family: cursive;

}

.blog-text p {
    text-align: justify;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.img-wrapper a.read-blog {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: paleturquoise;
}

.img-wrapper a.read-blog:hover {
    color:steelblue;
}

.pagination a {
    color: paleturquoise;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}
  
.pagination a.active {
    background-color: royalblue;
    color:paleturquoise;
}
  
.pagination a:hover:not(.active) {
    background-color:darkblue;
}

body {
    height: fit-content;
}

.Go-To-Top-Btn {
    position: fixed;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 99;
    background-color: royalblue;
	font-size: xx-large;
	width: 50px;
	height: 48px;
	line-height: 48px;
    bottom: 20px; 
    right: 20px; 
	padding-top: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	transition: all 1.5s ease-in-out; 
}
.Go-To-Top-Btn:hover {
	background-color: grey;
    transition: all 0.5s ease-in-out;
}
.Go-To-Top-Btn.active {
    visibility: visible;
    cursor: pointer;
	opacity: 1.0;
}
.Go-To-Top-Btn i.TopBtn {
	line-height: inherit;
}